<div [ngStyle]="{'background':'red','padding':'10px'}">
    <h1>Child component</h1>
<h1>{{data}}</h1>
</div>
<h1>Child To Parent Interaction</h1>
<button (click)="sendmessage()">Click here to send message to parent</button>
